<div class="shadow bg-white rounded p-2">
  <form [formGroup]="createPostForm" (submit)="onSubmitPost()">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Create a new Challenge</mat-label>
      <textarea formControlName="description" matInput placeholder="Ex. save our planet"></textarea>
    </mat-form-field>
    <div class="text-center" *ngIf="image != ''">
      <img [src]="this.image" alt="" style="max-height: 500px; max-width: 500px;">
      <hr>
    </div>
    <mat-slide-toggle formControlName="isPrivate">Private</mat-slide-toggle>
    <hr>
    <div class="btn-group" role="group">
      <input type="file" (change)="handleTestImg($event)" style="display: none" #fileInput>
      <button type="button" (click)="fileInput.click()" class="btn btn-sm me-3">
        <i class="bi bi-images me-1"></i>Photo or Video
      </button>
      <button type="button" class="btn btn-sm me-3">
        <i class="bi bi-tag-fill me-1"></i>Tag
      </button>
    </div>
    <button type="submit" class="btn btn-sm btn-dark float-end" [disabled]="createPostForm.invalid">
      <i class="bi bi-plus"></i>
      Create
    </button>
  </form>
</div>
