<div class="container bg-dark text-white h-100 w-100 shadow rounded">
  <form [formGroup]="postFormGroup" (submit)="onSubmitPost()" class="p-0">
    <div class="form-group">
      <div class="form-control">
        <input class="border-0 w-100" type="text" placeholder="Comment the post..."
               formControlName="title">
      </div>
      <div class="form-control">
          <textarea class="border-0 border-bottom w-100 px-1" style="font-size: smaller"
                    id="exampleFormControlTextarea1" rows="2"
                    formControlName="description"></textarea>
        <button class="btn btn-sm bi bi-card-image py-0 px-3 disabled"></button>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
      </div>
    </div>
    <button type="submit"
            class="btn btn-outline-primary btn-sm float-end bi bi-arrow-return-left mt-1 py-0 px-3"></button>
  </form>
</div>
