<div class="my-3">
  <button mat-raised-button class="mx-1" (click)="handleAddPostAction()">
    Add a Challenge
  </button>
</div>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">No.</th>
    <th scope="col">Tag</th>
    <th scope="col">Description</th>
    <th scope="col">Image</th>
    <th scope="col" class="text-center">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let challenge of challenges">
    <th scope="row">{{challenge.id}}</th>
    <td>{{challenge.tag}}</td>
    <td>{{challenge.description}}</td>
    <td>{{challenge.image !== ''}}</td>
    <td class="text-center">
      <div>
        <button mat-raised-button class="bg-warning me-2">
          update
        </button>
        <button mat-raised-button class="bg-danger text-white me-2" (click)="handleRemoveClick(challenge.id.toString())">
          remove
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
