<div class="my-3">
</div>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">No.</th>
    <th scope="col">Create At</th>
    <th scope="col">Content</th>
    <th scope="col">Likes</th>
    <th scope="col" class="text-center">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let challenge of messages">
    <th scope="row">{{challenge.id}}</th>
    <td>{{challenge.createAt}}</td>
    <td>{{challenge.content}}</td>
    <td>{{challenge.likes}}</td>
    <td class="text-center">
      <div>
        <button mat-raised-button class="bg-danger text-white me-2" (click)="handleRemoveClick(challenge.id)">
          remove
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
