<ng-container *ngIf="isFetching; else page">
  <app-spinner></app-spinner>
</ng-container>

<ng-template #page>

  <div class="container h-100">
    <div class="row pt-3">
      <div class="col-2">
        <app-menu></app-menu>
      </div>
      <div class="col">
        <div class="row">
          <app-create-post (postCreated)="onPostCreated($event)"></app-create-post>
        </div>
        <div class="row d-grid" *ngFor="let post of posts.sort(sortByDate).reverse()">
          <app-post [post]="post"></app-post>
        </div>
      </div>
      <div class="col-2">
<!--        <app-friend-list></app-friend-list>-->
      </div>
    </div>
  </div>

</ng-template>
