<div class="position-absolute top-50 start-50 translate-middle">
  <div class="centered-div list-profiles-container">
    <div class="container">
      <div class="fs-3 text-center mb-3">Mes profiles</div>

      <ul class="row">
        <div class="col">
          <div *ngFor="let profile of profiles;" class="">
            <div><a class="profile-link" tabindex="0" href="/social-feed">
              <span class="profile-name"> profile </span>
            </a>
            </div>
          </div>

        </div>

        <div class="col  text-center pe-5"><a href="/social-feed">
        <span class="">créer un profil</span></a>
      </div>
      </ul>
    </div>
  </div>
</div>
