<div class="container">
  <div class="row text-center">
    <h1 class="p-5">Profiles</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-2 text-center m-2 mx-auto p-0" *ngFor="let profile of profiles">
      <button mat-raised-button class="m-1 container h-100 w-75" color="light" (click)="setCurrentProfile(profile)">{{profile.pseudo}}</button>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <button mat-raised-button class="col-2" color="primary" (click)="createProfileView()">Create Profile</button>
  </div>
</div>
