<ng-container *ngIf="isFetching; else page">
  <app-spinner></app-spinner>
</ng-container>

<ng-template #page>

  <div class="container h3 mt-5 text-center">
    profile Card
  </div>
  <div class="ms-5 w-50">
    <table class="table table-borderless">
      <tbody class="">
      <tr class="">
        <th scope="row" class="">Nickname :</th>
        <td class="">{{profile.pseudo}}</td>
      </tr>
      <tr>
        <th scope="row">Firstname :</th>
        <td>{{profile.firstname}}</td>
      </tr>
      <tr>
        <th scope="row">Lastname :</th>
        <td colspan="2">{{profile.lastname}}</td>
      </tr>
      <tr>
        <th scope="row">Roles :</th>
        <td colspan="2" *ngFor="let role of profile.roles">{{role.name}}</td>
      </tr>
    </table>
  </div>
  <div class="mt-2 ">
<!--    <button class="ms-5 me-3">Modifier</button>-->
    <button mat-raised-button color="primary" class="ms-5" (click)="deleteProfile()">supprimer</button>
  </div>
</ng-template>
