<div class="container h-25 d-flex justify-content-center align-items-center">
  <h1>Create a profile</h1>
</div>
<div class="container shadow border rounded" style="max-width: 500px">
  <form class="px-5 pt-4 pb-2" [formGroup]="profileForm" (reset)="cancel()"(submit)="createProfile()">

    <div class="mb-2">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Pseudo</mat-label>
        <input formControlName="pseudo" matInput>
      </mat-form-field>
    </div>
    <div class="mb-2">
      <mat-form-field class="w-100" appearance="fill">
      <mat-label>Firstname</mat-label>
      <input formControlName="firstname" matInput>
    </mat-form-field>
    </div>
    <div class="mb-2">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input formControlName="lastname" matInput>
      </mat-form-field>
    </div>

    <div class="text-center" style="margin-bottom: 50px">
      <button type="reset" class="btn btn-danger btn-sm px-4 float-start">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary btn-sm px-4 float-end">
        Create
      </button>
    </div>
  </form>
</div>
