<div class="shadow bg-white rounded p-2 my-3">
  <div>
      {{post.profile.pseudo}}
      <p class="fw-light">{{postDate.toLocaleString()}}</p>
  </div>
  <div class="border-top pt-3">{{post.description}}</div>
  <div class="text-center pt-3" *ngIf="this.post.image != ''">
    <img *ngIf="this.post.image.includes('data:image')" [src]="this.post.image" alt="" style="max-height: 500px; max-width: 500px;">
    <video *ngIf="this.post.image.includes('data:video')" [src]="this.post.image" style="max-height: 500px; max-width: 500px;" controls></video>
  </div>
  <!-- likes / comments -->
  <hr>
  <mat-chip-list
    class="w-100">
    <mat-chip
      class="example-box"
      *ngFor="let challenge of post.challenges">
      {{challenge.tag}}
    </mat-chip>
  </mat-chip-list>
  <div class="row pt-1">
    <div class="col">
      <button class="btn btn-sm" (click)="handleLikeAction()">
        <i class="{{hasLike ? 'bi bi-heart-fill' : 'bi bi-heart'}}"></i>
        {{this.post.likes}}
      </button>
    </div>
    <div class="col">
      <button class="btn btn-sm float-end" (click)="handleVisibilityCommentAction()">
        <i class="{{hideComments ? 'bi bi-chat-dots-fill' : 'bi bi-chat-dots'}}"></i>
        {{this.post.comments?.length}} comments
      </button>
    </div>
  </div>

  <!-- entry / comments -->
  <div *ngIf="hideComments" class="mt-2">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Comment this post</mat-label>
      <textarea matInput [formControl]="contentComment"></textarea>
    </mat-form-field>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm me-3">
        <i class="bi bi-images me-1"></i>Photo or Video
      </button>
    </div>
    <button (click)="onSubmitComment()" [disabled]="contentComment.invalid"
            class="btn btn-sm btn-outline-primary float-end">
      <i class="bi bi-arrow-return-left mt-1 py-0 px-3"></i>
    </button>
    <hr>
    <div class="overflow-auto" style="max-height: 200px;">
      <div *ngFor="let comment of post.comments">
        <app-comment [message]="comment"></app-comment>
      </div>
    </div>
  </div>
</div>
