<div class="container h-100 d-flex justify-content-center align-items-center">
  <form class="shadow border rounded p-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <div class="d-flex align-items-center form-control">
        <input type="{{hide ? 'password' : 'text'}}" class="border-0" id="exampleInputPassword1">
        <i class="{{hide ? eye : eyeSlashed}}" (click)="handleHide()"></i>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-sm px-4">Signup</button>
    </div>
  </form>
</div>
